/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */

div.css-1r6slb0.e1tzin5v1 {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding: 0% 0% 0% 1%;
    border-radius: 5px;

    border-left: 0.5rem solid #8c393c !important;
}

div.css-keje6w.e1tzin5v1{
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding: 0% 0% 0% 1%;
    border-radius: 5px;

    border-left: 0.5rem solid #8c393c !important;
}

div.css-x9tmkl.e1tzin5v2{
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    padding: 0% 0% 0% 1%;
    border-radius: 5px;

    border-left: 0.5rem solid #8c393c !important;
}


